importFrom("methods", "as", "existsFunction", "is", "new")
import(Matrix)
import(sp)
import(stats)
import(grDevices)
import(graphics)
importFrom("utils", "RShowDoc", "assignInNamespace", "browseURL",
           "capture.output", "install.packages", "installed.packages",
           "read.table", "sessionInfo", "update.packages")
import(splines)

# Export all names
# exportPattern(".")
