### from https://raw.githubusercontent.com/github/gitignore/master/C.gitignore
# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
## Disable *.mod* exclude, since it also matches files like scale.models.Rd
## *.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
## From https://raw.githubusercontent.com/github/gitignore/master/C%2B%2B.gitignore
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
################### Our own
*~
.Rproj.user
.Rhistory
GPATH
GTAGS
GRTAGS

HTML/*
rinla/R/HTML/*
rinla/R/TAGS
rinla/.Rproj.user
rinla/.Rhistory
rinla/vignettes/figures/*
rinla/vignettes/*cache*
rinla/vignettes/*_files
rinla/vignettes/*.R
rinla/NAMESPACE.*
rinla/R/make-man-pages.timestamp
gmrflib/.deps/
gmrflib/TAGS
gmrflib/GitID.all
gmrflib/gitstamp
inlaprog/src/TAGS
inlaprog/src/gitstamp
fmesher/src/gitstamp
r-inla.org/*/*/*.aux
r-inla.org/*/*/*.bbl
r-inla.org/*/*/*.fdb_latexmk
r-inla.org/*/*/*.fls
r-inla.org/*/*/*.synctex.gz
r-inla.org/*/*/*.log
r-inla.org/*/*/*.blg

r-inla.org/doc/likelihood/example-gengaussian.R

r-inla.org/doc/likelihood/gengaussian.tex
